<div class="career">
  <h2 class="Career">~ Founders' Journey ~</h2>
  <div class="timeline">
    <div class="line"></div>

    <div class="section">
      <div class="bead"></div>
      <div class="content1">
        <h2 id="titletimeline">Phase de Fondation 2018</h2>
   
        <p>Inspirés par leurs expériences dans les refuges et leur préoccupation croissante pour le bien-être des animaux errants, John et Emily ont perçu le besoin d'une plateforme en ligne dédiée à l'adoption et au soin des animaux. Ils ont passé l'année à effectuer des recherches de marché, à parler à d'autres amoureux des animaux et à planifier ce qui deviendrait leur projet de vie.</p>
      </div>
    </div>

    <div class="section">
      <div class="bead"></div>
      <div class="content2">
        <h2 id="titletimeline">Lancement de Doggos 2019</h2>
       
        <p>En 2019, après des mois de travail acharné et de dévouement, John et Emily ont lancé Doggos. Le site web a rapidement gagné en popularité parmi les passionnés d'animaux, offrant une plateforme conviviale pour trouver des animaux à adopter, lire des conseils sur les soins aux animaux et se connecter avec d'autres propriétaires. Leur rêve d'aider les animaux à trouver des foyers devenait réalité.</p>
      </div>
    </div>

    <div class="section">
      <div class="bead"></div>
      <div class="content1">
        <h2 id="titletimeline">Innovations 2023</h2>
       
        <p>En 2023, Doggos a adopté de nouvelles technologies pour améliorer l'expérience utilisateur. Ils ont introduit les adoptions virtuelles via appels vidéo en direct, développé des outils basés sur l'IA pour faire correspondre les animaux avec les potentiels adoptants, et créé une marketplace en ligne pour les produits pour animaux.</p>
      </div>
    </div>

    <div class="section">
      <div class="bead"></div>
      <div class="content2">
        <h2 id="titletimeline">Vision Future 2025...</h2>
      
        <p>En regardant vers l'avenir, John et Emily restent déterminés à améliorer la vie des animaux partout. Ils prévoient d'étendre Doggos à l'international, de plaider pour des politiques de bien-être animal plus fortes et de continuer à innover pour fournir les meilleures ressources possibles aux propriétaires d'animaux. Leur parcours est loin d'être terminé, et ils sont enthousiastes pour ce qui les attend.</p>
      </div>
    </div>
  </div>
</div>

